.password-card {
  background-color: hsl(0, 0%, 100%);
  border-radius: 5px;
  border-width: 1px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px 0px;
  color: hsl(206, 17%, 28%);
  font-size: 18px;
  margin: 0 auto;
  max-width: 800px;
  padding: 30px 40px;
}

.password-card-body {
  min-height: 100px;
}

.password-card-footer {
  text-align: center;
}

.password-card-footer::before {
  content: " ";
  display: block;
  width: 100%;
  background: #e7e9eb;
  height: 2px;
}

.password-card-footer::after {
  content: " ";
  display: block;
  clear: both;
}

.password-btn {
  border: none;
  background-color: hsl(360, 91%, 36%);
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 6px 0px rgba(0, 0, 0, 0.2) 0px 1px 1px
    0px;
  color: hsl(0, 0%, 100%);
  display: inline-block;
  font-size: 22px;
  line-height: 22px;
  margin: 16px 16px 16px 20px;
  padding: 14px 34px;
  text-align: center;
  cursor: pointer;
}

/* button[disabled] {
  cursor: default;
  background: #c0c7cf;
} */

.password-float-right {
  float: right;
}

#password {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  display: block;
  width: 100%;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 85px;
  font-size: 1.2rem;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 2px dashed #c0c7cf;
  border-radius: 6px;
  resize: none;
  overflow: hidden;
}  

.darkblue {
  color: rgb(43, 43, 43);
}

.noDecoration, a:link, a:visited {
  text-decoration: none;
}

.zoom {
  transition: transform .3s;
  margin: 0 auto;
}

.zoom:hover {
  -ms-transform: scale(1.05); /* IE 9 */
  -webkit-transform: scale(1.05); /* Safari 3-8 */
  transform: scale(1.05); 
}

h4 {
  font-size: 1.3rem;
}

.iframeContainer {
  position: relative;
  width: 100%;
  padding-bottom: 50%;
  height:0;
}

.wrapper {
  display: grid;
  grid-template-columns: 50% 50%;
}

.iframeContainer iframe {
  position: absolute;
  top: 0;
  left: 0%;
  width:100%;
  height:100%;
}

.card-body-school {
  flex: 1 1 auto;
  padding: 1.25rem 1.25rem 1.25rem 1.25rem;
}

.btnEffect {
  padding-left: 10px;
}

.btnEffect:hover {
  background-color: lightblue;
  border-radius: 5px;
  padding-left: 10px;
}

.imgTemplate {
  position:absolute;
  z-index: 3;
}

.imgBrowser {
  position:absolute;
  z-index: 2;
}

/* .preset-file {
  z-index: 2;
}

.gif-file {
  z-index: 1;
} */

.gifs-rows .gif-file {
  display:none;
}

















figure {
  margin: 0;
}

figcaption {
  padding: 20px;
  font-size: 2rem;
  font-weight: 700;
}

.wrapper {
  max-width: 1200px;
  margin: 20px auto;
}

.image-wrapper {
  width: 100%;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 400ms;
          transition-duration: 400ms;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;

}
.image-wrapper img {
  -webkit-transform: perspective(400px) rotateX(5deg);
          transform: perspective(400px) rotateX(5deg);
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 400ms;
          transition-duration: 400ms;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;

}

.image-wrapper-2 {

  width: 100%;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 400ms;
          transition-duration: 400ms;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}

.image-wrapper-2 img {
  -webkit-transform: perspective(400px) rotateX(5deg);
          transform: perspective(400px) rotateX(5deg);
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 400ms;
          transition-duration: 400ms;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
}

.zap-2 {
  -webkit-transform: scale(1);
          transform: scale(1);
}
.zap-2 img {
  -webkit-transform: perspective(0) rotateX(0);
          transform: perspective(0) rotateX(0);
}


.zap {
  -webkit-transform: scale(1);
          transform: scale(1);
}
.zap img {
  -webkit-transform: perspective(0) rotateX(0);
          transform: perspective(0) rotateX(0);
}

.b-lazy {
  max-width: 100%;
  animation: rotation 1.5s  linear;
}

/* transition */
.b-lazy {
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
  max-width: 100%;
  opacity: 1;
}

.b-lazy.b-loaded {
  opacity: 1;
}


.headerHover {
  color: rgb(255, 255, 255);
}

.headerHover:hover {
  color: #1abc9c;
}

.imageBorder {
border: 3px solid #000000;
}

@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro&display=swap');


.gradientText {
  /* -webkit-text-stroke-width: 3px; */
  -webkit-text-stroke-color: #2C3E51;
  font-family: 'Source Code Pro', monospace;
  font-size: 4rem;
  font-weight: 700;
  letter-spacing: -2px;
  /* background: -webkit-linear-gradient(#2C3E51, #2C3E51); */
  background: -webkit-linear-gradient(rgb(0, 0, 0), rgb(0, 0, 0));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}






@media (max-device-width: 768px) {
  .gifs-rows .preset-file {
    display: none;
  }
 
  .gifs-rows .gif-file {
    display: block;
  }

  .card-body-school {
    flex: 1 1 auto;
    padding: 1.25rem 1.25rem 1.25rem 0rem;
  }
  
  .gradientText {
    font-size: 2rem;
  }
}



