# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

# Other files and folders
.settings/
node_modules
package-lock.json
*.code-workspace
.DS_Store
.env

# Executables
*.swf
*.air
*.ipa
*.apk
*.pxm
*.mp4
*.mov

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
