* {
  padding: 0;
  margin: 0;
}

html {
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: 'Source Code Pro', monospace;
  background-image: linear-gradient(to bottom, #ff0000, #0000ff);
}

.navigation {
  background-color: lightgreen;
  font-family: "Helvetica";
  text-transform: uppercase;
  font-size: 30px;
}

h2 { 
  position: center;
  top: 100px;
  left: 20px;
  font-size: 5rem;
  width: 50%;
  color: rgb(55, 225, 255);
  border-bottom: 14px solid rgb(122, 88, 131);
  text-shadow: 4px 4px #000000;
}

#linkedin {
  background-image: linear-gradient(to right, #314755 0%, #26a0da 51%, #314755 100%)
}

#linkedin:hover {
  background-position: right center;
  background-image: linear-gradient(to right, #7fa516 0%, #088d70 51%, #3f1a34 100%)

}

.wrapper {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.circle {
  width: 100px;
  padding: 50px 0;
  line-height: 0;
  margin: 60px auto;
  background-color: #ffc0cb;
  color: #ffffff;
  border-radius: 50px;
  cursor: pointer;
  transition: transform 0.5s;
  background: #fa8072;
  text-align: center;
}

.circle:hover {  
  color: #241313;
  transform: rotate(360deg);
}

.github {
  width: 100px;
  padding: 0px 0px;
  line-height: 0;
  margin: 0px auto;
  cursor: pointer;
  transition: transform 0.2s ease-out;
}

img:hover {  
  color: #351212;
  transform: rotate(20deg) scale(0.8);
}

div.certificate {
  height: 200px;
  width: 30%;
}


/* here /////////////////////////// */
