* {
  padding : 0;
  margin  : 0;
}

body {
  width            : 100%;
  font-family      : 'Helvetica', monospace;
}

a {
  color           : #3bf163;
  text-decoration : none;
}

a:hover {
  color : grey;
}

footer {
  color            : #ffffff;
  padding-left     : 20px;
  padding-top      : 20px;
  height           : 50px;
  width            : 100%;
  text-align       : center;
  background-color : black;
}

img {
  vertical-align : middle;
  margin         : auto;
  margin-right   : 30px;
  margin-bottom  : 30px;
  margin-left    : 70px;
}

strong {
  font-weight : 1000;
}

span.stuff {
  color : #ffffff;
  /* background-color: #ffffff; */
  font-weight: 900;
}

blockquote {
  color       : #ffffff;
  background-color: #575757;
  font-weight : 100;
  width       : 100%;
  text-align: center;
  height: 50px;
  padding-top: 10px;
}

.topText { 
  position         : none;
  font-size        : 24px;
  width            : 100%;
  text-shadow      : 2px 2px #000000;
  background-color : #000000;
  padding          : 10px;
  height           : 30px;
}

.certificateRow {
  width            : 7%;
  margin           : 10px;
  background-color : #E91E63;
  transition       : all 0.35s ease-in-out;
}

.certificateRow:hover {
  transform          : rotate(0deg) scale(1.3);
  transition         : 0.30s;
  -webkit-transition : 0.30s;
  -moz-transition    : 0.30s;
  -ms-transition     : 0.30s;
  -o-transition      : 0.30s;
  -webkit-transform  : rotate(0deg) scale(1.3);
  -moz-transform     : rotate(0deg);
  -o-transform       : rotate(0deg);
  -ms-transform      : rotate(0deg);
}

.headerText {
  background-color : rgb(0, 0, 0);
  font-family      : 'Helvetica';
  text-transform   : uppercase;
  font-size        : 24px;
  color            : #ffffff;
  padding-left     : 00px;
  padding-right    : 0px;
  padding-bottom   : 10px;
  padding-top      : 10px;
  text-align: center;
  width: 100%;
}

.imageFunction {
  margin-left  : auto;
  margin-right : auto;
  width        : 60px;
}

.projectImage {
  width          : 300px;
  vertical-align : middle;
  margin-left    : 25px;
  margin-top     : 25px;
  opacity        : 1.0;
}

.projectsInline { 
  display          : inline-block; 
  margin-left      : 0px;
  color            : #ffffff;
  vertical-align   : top;
  font-weight      : 100;
  background-color : rgb(83, 83, 83);
  width            : 100%;
  }

.resume {
  background-color : #000000;
  margin : auto;
  margin : center;
}








@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro&display=swap');

.hidden {
  opacity : 0;
}

.console-container {
 
  font-family : 'Helvetica';
  text-align  : center;
  display     : inline;
  position    : relative;
  color       : #ffffff;
  top         : 0;
  bottom      : 0;
  left        : 0;
  right       : 0;
  margin      : auto;
}

.console-underscore {
  display  : inline;
  position : relative;
  top      : 0em;
  left     : 0px;
}













.example_d {
  color          : #3bf163 !important;
  text-transform : uppercase;
  background     : rgb(34, 34, 34 0);
  padding        : 10px;
  border         : 4px solid #3bf163 !important;
  border-radius  : 6px;
  display        : inline-block;
  transition     : all 0.3s ease 0s;
  font-weight    : 900;
  }


.example_d:hover {
  color         : #000000 !important;
  border-radius : 150px;
  border-color  : (#3bf163) !important;
  transition    : all 0.3s ease 0s;
  background    : #3bf163;
  font-weight   : 900;
  }
