* {
  padding : 0;
  margin  : 0;
}

a {
  color           : #3bf163;
  text-decoration : none;
}

a.linkLess {
  color           : #587f9e;
  text-decoration : none;
}

a:hover {
  color : grey;
}

blockquote {
  color              : #ffffff;
  background-color   : #575757;
  font-weight        : 100;
  width              : 100%;
  text-align         : center;
  height             : 30px;
  padding-top        : 10px;
}

html {
  -webkit-box-sizing : border-box;
          box-sizing : border-box;
          background-color:rgb(0, 0, 0);
}

body {
  font-family : 'Helvetica', monospace;
  line-height : 1.75;
  margin      : 4;
  min-height  : auto;
  max-width       : 1000px;
  margin: auto;

}

footer {
  color            : #ffffff;
  padding-top      : 20px;
  padding-left     : 20px;
  height           : 100px;
  width            : 100%;
  text-align       : center;
  background-color : black;
}

img {
  max-width        : 100%;
  margin           : 20px 20px 20px 20px;
  background-color : rgb(0, 0, 0);
  padding          : 4px;
}

strong {
  font-weight : 1000;
}

span.boldWords {
  color       : #000000;
  font-weight : 900;
  margin      : 0px 0px 0px 0px;
  padding     : 0px 0px 0px 0px;
}

.projectsAll {
  display : -webkit-box;
  display : -ms-flexbox;
  display : flex;
  background-color:rgb(255, 255, 255);
  padding           : 20px;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.projectsDescriptionDiv {
  color            : #000000;
  margin           : auto;
  font-weight      : 300;
  background-color : #ffffff;
}

.projectsImageDiv {
  margin : auto;
  flex   : 0;
  width  : 900;
  flex-wrap: wrap;
}

.projectsImageWidth {
  width:250px;
}

.projectsButtonsContainer {
  display : -webkit-box;
  display : -ms-flexbox;
  display : flex;
  justify-content: flex-end;
}

.projectsButtonsItem {
  margin: auto;
  flex: 1;
box-sizing: border-box;  
}

.buttons {
  color          : rgb(0, 0, 0) !important;
  text-transform : uppercase;
  background     : rgb(34, 34, 34 0);
  padding        : 10px;
  border         : 4px solid #FF2C75 !important;
  border-radius  : 6px;
  display        : inline-block;
  transition     : all 0.3s ease 0s;
  font-weight    : 900;
  }

.buttons:hover {
  color         : #000000 !important;
  border-radius : 150px;
  border-color  : #FF2C75 !important;
  transition    : all 0.3s ease 0s;
  background    : #FF2C75;
  font-weight   : 900;
  }

.topText { 
  position         : none;
  font-size        : 24px;
  width            : 100%;
  text-shadow      : 2px 2px #000000;
  background-color : #000000;
  padding          : 10px;
  height           : 30px;
}

.certsSmallAll {
  display : -webkit-box;
  display : -ms-flexbox;
  display : flex;
  background-color : rgb(255, 255, 255);
  height           : auto;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.certsSmall {
  flex: 1;
  margin: auto;
  transition       : all 0.3s ease-in-out;
}

.certsSmall:hover {
  margin: auto;
  transform          : rotate(0deg) scale(1.3);
  transition         : 0.30s;
  -webkit-transition : 0.30s;
  -moz-transition    : 0.30s;
  -ms-transition     : 0.30s;
  -o-transition      : 0.30s;
  -webkit-transform  : rotate(0deg) scale(1.3);
  -moz-transform     : rotate(0deg);
  -o-transform       : rotate(0deg);
  -ms-transform      : rotate(0deg);
}

.certsBigAll {
  justify-content: center;
  display: flex;
  height: auto;
}

.certsBig {
  margin: auto;
}

.words {
  background-color: #ff0062;
}

.headerAll {
  display : -webkit-box;
  display : -ms-flexbox;
  display : flex;
  flex: wrap;
  background-color: black;
  flex-direction: column;
}

.headerWalt {
  margin: auto;
  font-size:36px;
  color:white;
}

.headerCanvas {
  margin: auto;
  order: 1;
}
  
.headerText {
  background-color : #ff0062;
  font-family      : 'Helvetica';
  text-transform   : uppercase;
  font-size        : 34px;
  font-weight      : 900;
  color            : #000000;
  padding      : 10px 0px 10px 0px;
  display : -webkit-box;
  display : -ms-flexbox;
  display : flex;
  justify-content: center;
}

.headerLink:after {
  content    : "";
  display    : block;
  position   : relative;
  bottom     : 0;
  left       : 50%;
  height     : 3px;
  width      : 0;
  background : transparent;
  transition : width 0.5s ease, background-color 0.5s ease, left 0.5s ease;
}

.headerLink:hover:after {
  width: 100%;
  left: 0;
  background: #3bf163;
}

.resumeAll {
  display: flex;
  width           : 100%;
  background-color : #000000;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
 }

.resumeLeft {
  font-size : 26px;
  color  : #3bf163;
  margin : auto;
  flex: 1;
}

.resumeMiddle {
  font-size : 26px;
  color  : #3bf163;
  margin : auto;
  flex: 1;
}

.resumeRight {
  font-size : 26px;
  color     : #3bf163;
  flex: 0;
  margin : auto;
}

.otherAll {
 background-color: white;
 flex-direction: column;
 flex-wrap: wrap;
}

.otherItem {
  margin: auto;
  width: 70%;
  background-color: #3bf163;
}

.otherItemDescription {
  margin: auto;
  width: 70%;
}

@media (min-width: 900px) {
  .otherAll {
    display:flex;
    justify-content: space-between;
  }
}


@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro&display=swap');

.hidden {
  opacity : 0;
}

.console-container {
 
  font-family : 'Helvetica';
  text-align  : center;
  display     : inline;
  position    : relative;
  color       : #ffffff;
  top         : 0;
  bottom      : 0;
  left        : 0;
  right       : 0;
  margin      : auto;
}

.console-underscore {
  display  : inline;
  position : relative;
  top      : 0em;
  left     : 0px;
}











/* helpers/grid.css */

.grid {
  margin-left  : auto;
  margin-right : auto;
  max-width    : 48em;
  width        : 90%;
}

/* helpers/sticky.css */

.sticky {
  position    : -webkit-sticky;
  position    : sticky;
  will-change : transform;
}

.sticky--top {
  top : 0;
}

/* layout/base.css */

* {
  -webkit-box-sizing : inherit;
          box-sizing : inherit;
}

/* layout/header.css */

.header {
  background-color : #fff;
  padding-bottom   : 0.5em;
  padding-top      : 0.5em;
}


.header::after {
  bottom             : 0;
  -webkit-box-shadow : 0 0.0625em 0.5em rgba(0, 0, 0, .3);
          box-shadow : 0 0.0625em 0.5em rgba(0, 0, 0, .3);
  content            : '';
  left               : 0;
  opacity            : 0;
  position           : absolute;
  right              : 0;
  top                : 0;
  -webkit-transition : opacity 0.3s;
  transition         : opacity 0.3s;
  z-index            : -1;
}

.header.is-active::after {
  opacity : 1;
}

/* layout/main.css */

.main {
  padding-top    : 0.5em;
  padding-bottom : 0.5em;
}

/* modules/navigation.css */

.navigation a {
  color           : inherit;
  display         : block;
  text-decoration : none;
  padding-left    : 0.5em;
  padding-right   : 0.5em;
}


.navigation a:hover {
  display          : block;
  background-color : #ff0062;
  color            : rgb(255, 255, 255);
  border-radius    : 999px;
  padding-left     : 0.5em;
  padding-right    : 0.5em;
}

.navigation .is-active {
  background-color : #000;
  color            : #fff;
  padding-left     : 0.5em;
  padding-right    : 0.5em;
  border-radius    : 999px;
}

.navigationList {
  list-style : none;
  margin     : -0.5em;
  padding    : 0.5;
}

.navigationListInline {
  display : -webkit-box;
  display : -ms-flexbox;
  display : flex;
}

.navigationItem {
  margin : 0.5em;
}













input[type=text], select, textarea {
  width         : 100%;
  padding       : 12px;
  border        : 1px solid #ccc;
  border-radius : 4px;
  box-sizing    : border-box;
  margin-top    : 6px;
  margin-bottom : 16px;
  resize        : vertical;
  font-size     : 20px;
}

input[type=submit] {
  background-color : rgb(0, 0, 0);
  color            : white;
  padding          : 6px 30px;
  border           : none;
  border-radius    : 4px;
  cursor           : pointer;
  font-size        : 20px;
}

input[type=submit]:hover {
  background-color : #ff0062;
}

.contactFormAll {
  display : -webkit-box;
  display : -ms-flexbox;
  display : flex;
  justify-content: center;
  background-color:rgb(255, 255, 255);
}

.contactForm {
  background-color : #cecece;
  padding          : 20px 20px 20px 20px;
  margin           : 50px 50px;
  border-radius    : 5px;
}

hr {
	height: 100vh;
}









h1,
h1+p {
	margin: 30px 15px 0;
	font-weight: 300;
}
h1+p a {
	color: #333;
}
h1+p a:hover {
	text-decoration: none;
}
h2 {
	margin: 60px 15px 0;
	padding: 0;
	font-weight: 300;
}
h2 span {
	margin-left: 1em;
	color: #aaa;
	font-size: 85%;
}
.column {
	margin: 15px 15px 0;
	padding: 0;
}
.column:last-child {
	padding-bottom: 60px;
}
.column::after {
	content: '';
	clear: both;
	display: block;
}
.column div {
	position: relative;
	float: left;
	width: 300px;
	height: 200px;
	margin: 0 0 0 25px;
	padding: 0;
}
.column div:first-child {
	margin-left: 0;
}
.column div span {
	position: absolute;
	bottom: -20px;
	left: 0;
	z-index: -1;
	display: block;
	width: 300px;
	margin: 0;
	padding: 0;
	color: #444;
	font-size: 18px;
	text-decoration: none;
	text-align: center;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
	opacity: 0;
}
figure {
	width: 300px;
	height: 200px;
	margin: 0;
	padding: 0;
	background: #fff;
	overflow: hidden;
}
figure:hover+span {
	bottom: -36px;
	opacity: 1;
}




/* Zoom In #1 */
.hover01 figure img {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.hover01 figure:hover img {
	-webkit-transform: scale(1.3);
	transform: scale(1.3);
}

/* Zoom In #2 */
.hover02 figure img {
	width: 300px;
	height: auto;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.hover02 figure:hover img {
	width: 350px;
}


@keyframes circle {
	0% {
		opacity: 1;
	}
	40% {
		opacity: 1;
	}
	100% {
		width: 200%;
		height: 200%;
		opacity: 0;
	}
}



/* flex box */

@media (min-width: 900px) {
  .certsSmallAll {
    display : -webkit-box;
    display : -ms-flexbox;
    display : flex;
    flex-wrap: wrap;
  }
}

/* painting canvas at header */

canvas {
  background-color: black;
}






