* {
  padding : 0;
  margin  : 0;
}

body {
  width            : 100%;
  font-family      : 'Helvetica', monospace;
}

a {
  color           : #3bf163;
  text-decoration : none;
}

a:hover {
  color : grey;
}

footer {
  color            : #ffffff;
  padding-left     : 20px;
  padding-top      : 20px;
  height           : 50px;
  width            : 100%;
  text-align       : center;
  background-color : black;
}

img {
  vertical-align : middle;
  margin         : auto;
  margin-right   : 30px;
  margin-bottom  : 30px;
  margin-left    : 70px;
}

strong {
  font-weight : 1000;
}

span.stuff {
  color : #ffffff;
  /* background-color: #ffffff; */
  font-weight: 900;
}

blockquote {
  color       : #ffffff;
  background-color: #575757;
  font-weight : 100;
  width       : 100%;
  text-align: center;
  height: 30px;
  padding-top: 10px;
}

.topText { 
  position         : none;
  font-size        : 24px;
  width            : 100%;
  text-shadow      : 2px 2px #000000;
  background-color : #000000;
  padding          : 10px;
  height           : 30px;
}

.certificateRow {
  width            : 7%;
  margin           : 30px;
  background-color : #E91E63;
  transition       : all 0.35s ease-in-out;
}

.certificateRow:hover {
  transform          : rotate(0deg) scale(1.3);
  transition         : 0.30s;
  -webkit-transition : 0.30s;
  -moz-transition    : 0.30s;
  -ms-transition     : 0.30s;
  -o-transition      : 0.30s;
  -webkit-transform  : rotate(0deg) scale(1.3);
  -moz-transform     : rotate(0deg);
  -o-transform       : rotate(0deg);
  -ms-transform      : rotate(0deg);
}

.headerText {
  background-color : #000000;
  font-family      : 'Helvetica';
  text-transform   : uppercase;
  font-size        : 24px;
  color            : #ffffff;
  padding-left     : 00px;
  padding-right    : 0px;
  padding-bottom   : 10px;
  padding-top      : 10px;
  text-align: center;
  width: 100%;
}

.headerLink {
  float: left;
  position: relative;
  margin-left: 20px;
  text-decoration: none;
  text-transform: uppercase;
  color: #3bf163;
}

.headerLink:after {
  content: "";
  display: block;
  position: relative;
  bottom: 0;
  left: 50%;
  height: 3px;
  width: 0;
  background: transparent;
  transition: width 0.5s ease, background-color 0.5s ease, left 0.5s ease;
}

.headerLink:hover:after {
  width: 100%;
  left: 0;
  background: #3bf163;
}

.imageFunction {
  margin-left  : auto;
  margin-right : auto;
  width        : 60px;
}

.projectImage {
  width          : 300px;
  vertical-align : middle;
  margin-left    : 25px;
  margin-top     : 25px;
  opacity        : 1.0;
}

.projectsInline { 
  display          : inline-block; 
  margin-left      : 0px;
  color            : #ffffff;
  vertical-align   : top;
  font-weight      : 100;
  background-color : #535353;
  width            : 100%;
  }

.resume {
  background-color : #000000;
  margin : auto;
  margin : center;
}

.mainContainer {
  background-color : #535353;
}




@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro&display=swap');

.hidden {
  opacity : 0;
}

.console-container {
 
  font-family : 'Helvetica';
  text-align  : center;
  display     : inline;
  position    : relative;
  color       : #ffffff;
  top         : 0;
  bottom      : 0;
  left        : 0;
  right       : 0;
  margin      : auto;
}

.console-underscore {
  display  : inline;
  position : relative;
  top      : 0em;
  left     : 0px;
}













.example_d {
  color          : #3bf163 !important;
  text-transform : uppercase;
  background     : rgb(34, 34, 34 0);
  padding        : 10px;
  border         : 4px solid #3bf163 !important;
  border-radius  : 6px;
  display        : inline-block;
  transition     : all 0.3s ease 0s;
  font-weight    : 900;
  }


.example_d:hover {
  color         : #000000 !important;
  border-radius : 150px;
  border-color  : (#3bf163) !important;
  transition    : all 0.3s ease 0s;
  background    : #3bf163;
  font-weight   : 900;
  }










  .slider-wrapper {
    font-size: 24px;
    color:rgb(255, 255, 255);
    font-weight: 400;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    position : relative;
    bottom : 3px;
    right : 20px
  }
  .slider {
    height: 36px;
    padding-left:15px;
    overflow: hidden;
  }
  .slider div {
    color:#fff;
    height: 50px;
    margin-bottom: 50px;
    padding: 2px 10px 0px 10px;
    text-align: center;
    box-sizing: border-box;
  }
  .slider-text1 {
    background: lightgreen;
    animation: slide 13s ease-in infinite;
  }
  .slider-text2 {
    background: skyblue;
  }
  .slider-text3 {
    background: lightcoral;
  }
  .slider-text4 {
    background: rgb(248, 76, 211);
  }
  .slider-text5 {
    background: rgb(255, 176, 48);
  }
  .slider-text6 {
    background: rgb(151, 76, 248);
  }
  .slider-text7 {
    background: rgb(90, 244, 255);
  }
  .slider-text8 {
    background: rgb(217, 248, 76);
  }
  .slider-text9 {
    background: rgb(102, 248, 76);
  }
  .slider-text10 {
    background: rgb(248, 76, 211);
  }
  @keyframes slide {
    0% {margin-top:-700px;} /* left is the time; right is the animation */
    5% {margin-top:-700px;} /* -00 is HTML */
    10% {margin-top:-600px;} /* -100 is CSS */
    15% {margin-top:-600px;} /* -200px is PHP */
    20% {margin-top:-500px;} /* -300px is WALT */
    25% {margin-top:-500px;} /*   */
    30% {margin-top:-400px;} /*   */
    35% {margin-top:-400px;} /*   */
    40% {margin-top:-300px;} /*   */
    45% {margin-top:-300px;} /*   */
    50% {margin-top:-200px;} /*   */
    60% {margin-top:-200px;} /*   */
    70% {margin-top:-100px;} /*   */
    78% {margin-top:-100px;} /*   */
    86% {margin-top:-000px;} /*   */
    94% {margin-top:-000px;} /*   */
    100% {margin-top: 100px;} /*   */

  }


 div.inline {
   float:right;
   padding-right: 30px;
  }

.clearBoth {
  clear:both;
}